.ui-widget-content
{
	width: 500px !important;
}

.ui-dialog-titlebar
{
	position: relative !important;
	width: 500px !important;
	padding: 15px 11px 15px 15px !important;
	margin-top: 50px !important;
}

.ui-dialog-buttonpane
{
	padding: 15px 13px !important;
}

.table-check2
{
	margin-top: 20px;
	border-top: 2px solid #cdcdcd;
}

.table-check2 td
{
	padding: 2px;
}

.table-check2 td:nth-child(2n)
{
	text-align: right;
}

.link_store
{
	font-size: 20px; 
	text-align: center; 
	white-space: normal; 
	word-wrap: break-word;
}

.check-qr
{
	width: 100%; 
	display: flex; 
	align-items: center; 
	align-content: center; 
	justify-content: center;  
	margin: 30px auto; 
	text-align: center; 
	position: relative;
}
