<tr style="line-height: 20px">
	<td style="padding: 0 3px 0 0; text-align: left; vertical-align: top" valign="top">##number##.</td>
	<td style="padding: 0 3px 0 0; text-align: left; vertical-align: top; width: 60%" width="60%" valign="top">##name##</td>
	<td style="padding: 0; text-align: right; vertical-align: top" valign="top">##price##₽ × ##count## = ##sum##₽</td>
</tr>