<div>
	<div>
		<div>
			<a href="https://ferma.ru.net/" target="_blank" rel="noopener noreferrer">
				<img alt="" src="https://ferma.ru.net/plugins/logo_f.png" width="250" height="36">
			</a>
		</div>
		<div >##check_type##</div>
		<div class="link_store">##link_store##</div>
		<table class="table-check2">
			<tbody>
				<tr>
					<td valign="top">ИНН</td>
					<td valign="top">
						<span>##tin##</span>
					</td>
				</tr>
				<tr>
					<td valign="top">Налогообложение</td>
					<td valign="top">##taxation##</td>
				</tr>
			</tbody>
		</table>
		<table>
			<tbody>
				<tr>
					<th>№</th><th>Наименование</th><th>Сумма</th>
				</tr>
				##products##
			</tbody>
		</table>
		<table class="table-check2">
			<tbody>
				<tr>
					<td valign="top">Итого</td>
					<td valign="top">##total_sum##₽</td>
				</tr>
				<tr>
					<td valign="top">Наличными</td>
					<td valign="top">##cash##₽</td>
				</tr>
				<tr>
					<td valign="top">Безналичными</td>
					<td valign="top">##non_cash##₽</td>
				</tr>
				<tr>
					<td valign="top">Сумма без НДС</td>
					<td valign="top">##sum_non_tax##₽</td>
				</tr>
			</tbody>
		</table>
		<table class="table-check2">
			<tbody>
				<tr>
					<td valign="top">Номер смены</td>
					<td valign="top">##shift_num##</td>
				</tr>
				<tr>
					<td valign="top">Номер ФД</td>
					<td valign="top">##document_num##</td>
				</tr>
				<tr>
					<td valign="top">ФПД</td>
					<td valign="top"><span>##fp##</span></td>
				</tr>
				<tr>
					<td valign="top">Номер ФД в смене</td>
					<td valign="top">##index##</td>
				</tr>
			</tbody>
		</table>
		<table class="table-check2">
			<tbody>
				<tr>
					<td valign="top">Рег. номер ККТ в ФНС</td>
					<td valign="top"><span>##cashier_rn##</span></td>
				</tr>
				<tr>
					<td valign="top">Сер. номер ККТ</td>
					<td valign="top"><span>##cashier_factory_num##</span></td>
				</tr>
				<tr>
					<td valign="top">Сер. номер ФН</td>
					<td valign="top"><span>##fn##</span></td>
				</tr>
				<tr>
					<td valign="top">Версия ФФД</td>
					<td valign="top">##cashier_ffd##</td>
				</tr>
			</tbody>
		</table>
		
		
		<table class="table-check2">
			<tbody>
				<tr>
					<td valign="top">Эл. адрес отправителя</td>
					<td valign="top"><a href="https://ofd.yandex.ru/check" target="_blank" rel="noopener noreferrer">no-reply@ofd.yandex.ru</a></td>
				</tr>
				<tr>
					<td valign="top">Адрес сайта ФНС</td>
					<td valign="top"><a href="https://www.nalog.ru/" target="_blank" rel="noopener noreferrer">https://www.nalog.ru</a></td>
				</tr>
				<tr>
					<td valign="top">Название ОФД</td>
					<td valign="top">Яндекс.ОФД</td>
				</tr>
				<tr>
					<td valign="top">Сайт ОФД для проверки чека</td>
					<td valign="top"><a href="https://ofd.yandex.ru/check" target="_blank" rel="noopener noreferrer">https://ofd.yandex.ru/check</a></td>
				</tr>
				<tr>
					<td valign="top">ИНН ОФД</td>
					<td valign="top"><span>7704358518</span></td>
				</tr>
			</tbody>
		</table>
		<div class="check-qr">
			<div qr="##qr##" style="width: 128px;" id="checkCanv"></div>
		</div>
	</div>
</div>